* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #076425;
}
.scene {
  position: relative;
  width: 100%;
  height: 700px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/background.svg")
    repeat-x;
  border-bottom: 5px solid #000;
  animation: move_background 6s infinite linear;
  transform: translateZ(0);
}
.position_bus {
  position: absolute;
  bottom: 140px;
  left: calc(50% - 142px);
}
/* .littleguy {
  animation: walk 1.5s steps(8) infinite;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/littleguy.svg")
    0 0 no-repeat;
  width: 285px;
  height: 380px;
  transform: scale(0.5, 0.5);
} */

.bus {
  animation: move_up_down 1s ease infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 512px;
  height: 194px;
  background: url("img/bus.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.wheel {
  animation: rotate 1s linear infinite;
  position: absolute;
  left: 83px;
  bottom: -21px;
  width: 72px;
  height: 72px;
  background: url("img/wheel.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.wheel:nth-of-type(2) {
  left: 363px;
}

.position_lady {
  position: absolute;
  bottom: -100px;
  left: calc(50% - 500px);
}

.lady {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 210px;
  background: url("img/lady.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: scaleX(-1); */
}

.shops {
  position: absolute;
  bottom: 275px;
}
#purple {
  animation: move_shop 36s infinite linear;
  color: #3dac56;
}
#red {
  animation: move_shop 36s infinite linear 6s;
  color: #bc1e27;
}
#green {
  animation: move_shop 36s infinite linear 12s;
  color: #066723;
}
#blue {
  animation: move_shop 36s infinite linear 18s;
  color: #12ade5;
}
#lavender {
  animation: move_shop 36s infinite linear 24s;
  color: #475e5e;
}
#yellow {
  animation: move_shop 36s infinite linear 30s;
  color: #f9c010;
}
use#blue_starter {
  transform: translateX(3900px);
  animation: move_shop 36s 1 linear;
  color: #38bcac;
}
#lavender_starter {
  transform: translateX(3900px);
  animation: move_shop 36s 1 linear;
  color: #32a0c9;
}
#yellow_starter {
  transform: translateX(3900px);
  animation: move_shop 36s 1 linear;
  color: #e1c820;
}
@keyframes walk {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2280px 0;
  }
}
@keyframes move_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 650px 0;
  }
}
@keyframes move_shop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3900px);
  }
}
@keyframes move_up_down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
